body {
  background-color: #f0f4f8;
  color: #1e1e1e;
}


.ant-btn-primary {
  background-color: #3b82f6;
  border-color: #3b82f6;
}

.ant-btn-primary:hover {
  background-color: #2563eb;
  border-color: #2563eb;
}
